
services:
  dashboard:
    build: .
    ports:
      - "8501:8501"
    environment:
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
    volumes:
      - ./.streamlit:/app/.streamlit 
      - ./database:/app/database      
    command: streamlit run Dashboard.py --server.port=8501 --server.address=0.0.0.0
    working_dir: /app